In [1]:
-10%3

2

In [2]:
10%-3

-2

In [3]:
a=25 
if a >=18:
    print("Adult")

Adult

In [11]:
a= 10

if a>=0:
    print("Positive")
else:
    print("Negative")

Positive

In [12]:
a= -1

if a>=0:
    print("Positive")
else:
    print("Negative")

Negative

In [13]:
a = 10
print("Positive" if a >=0 else "Negative")

Positive

In [14]:
x = input("enter your name ")
print(x)

water

In [17]:

#Chained Conditions 
grade = 41

if grade > 100 or grade<0 :
    print("Invalid Marks")
elif grade >=90:
    print("A")
elif grade >=80:
    print("B")
elif grade >=60:
    print("C")
elif grade >=50:
    print("D")
elif grade >=40:
    print("E")
else:
    print("Failed")

E

In [22]:
a =-22

if a>=0 :
    print("Positive",end=" ")
    if a%2 ==0:
        print("Even")
    else :
        print("Odd")
else:
    print("Negative")

Negative

In [26]:
count = 1 

while count <= 5:
    if count==3:
        count+=1
        continue
    print(count)
    count+=1

1
2
4
5

In [5]:
#Passing Mutable obj 
lst =[1,2,3]

def func(lst):
    lst.append(4)

print(lst)
func(lst)
print(lst)

#Passing Immutable obj 

s ="Computer"

def func2(s):
    s+=" Science"

print(s)
func2(s)
print(s)

[1, 2, 3]
[1, 2, 3, 4]
Computer
Computer

In [11]:
def double(x):return 2*x
def add(x):return x+5

r= add(double(10))
r

25

In [28]:
from math import sqrt as square_root 

square_root(16)

4.0

In [31]:
def factorial(x): return 1 if x==0 else x*factorial(x-1)

factorial(5)

120

In [39]:
def sum ( x ): 
    print("called sum(",x,")")
    if x==0:
        print(f"sum({x})=>returned :{0} ")
        return 0
    else:
        val= x + sum(x-1)
        print(f"sum({x})=>returned :{val} ")
        return val

sum(5)

called sum( 5 )
called sum( 4 )
called sum( 3 )
called sum( 2 )
called sum( 1 )
called sum( 0 )
sum(0)=>returned :0
sum(1)=>returned :1
sum(2)=>returned :3
sum(3)=>returned :6
sum(4)=>returned :10
sum(5)=>returned :15

15

# String Functions

## String Traversal

> Using for

In [15]:
#Visiting Char by Char in a String 
s = "Hello"

for c in s: 
    print(c)

H
e
l
l
o

> Using While

In [16]:
i = 0
s="Hello"
while i < len(s):
    print(s[i])
    i+=1

H
e
l
l
o

> using for range

In [14]:

s= "Computer"

for i in range(len(s)):
    print(i,"=>",s[i])

0 => C
1 => o
2 => m
3 => p
4 => u
5 => t
6 => e
7 => r

In [25]:
s= "Computer"
#start is direct 
#end is exclusive not inclusive 
for i in range(len(s)-1,-1,-1):
    print(i,"=>",s[i])

7 => r
6 => e
5 => t
4 => u
3 => p
2 => m
1 => o
0 => C

In [31]:
s= "Computer"

for c in reversed(s):
    print(c)

r
e
t
u
p
m
o
C

> Counting vowels in a string

In [44]:
line = "Apple is red sometimes!"
vowels = ['a','e','i','o','u']
vowelCount=0
for c in line :
#lower to avoids Case check error  
    if(c.lower() in vowels):
        vowelCount+=1
print(f"The total no of vowels are {vowelCount}")

The total no of vowels are 0

> Space counting in text

In [54]:
line = "Apple is red sometimes!"
spaceCount=0
for c in line :
    if(c == " "):
        spaceCount+=1
print(f"The total no of spaces are are {spaceCount}")

The total no of spaces are are 4

> Write a Python program to check if a string is a palindrome or not

In [64]:
def isPalindrome(s:str):
    return s.lower()==s.lower()[::-1]

isPalindrome("noon") , isPalindrome("Computer"),isPalindrome("Bob")

(True, False, True)

> Write a python program to count the occurrences of each character in a string

## String comparison

In [ ]:
"hello"<="hello"

'['

In [86]:
def checkPassword(s:str):
    s= s.strip()
    correctPassword ="abc@123"
    return "Access Granted" if s==correctPassword else "Access Denied"

checkPassword("  abc@123  ") ,checkPassword("abc@124")

('Access Granted', 'Access Denied')

# Sequence

## Lists as a sequence

### Traversing a List

#### Using for

In [4]:
my_list = [ 1,2,3,'apple', 'banana']
for item in my_list:
    print(item, end=",")

1,2,3,apple,banana,

#### Using for range

In [6]:
for index in range(len(my_list)):
    print(f"{index}=>{my_list[index]}")

0=>1
1=>2
2=>3
3=>apple
4=>banana

#### Using List Comprehension

In [16]:
new_list = [x**2 for x in my_list if isinstance(x,int)]
new_list

[1, 4, 9]

#### Using Enumeration

In [20]:
for index,value in enumerate(my_list):
    print(f"{index} => {value}")

0 => 1
1 => 2
2 => 3
3 => apple
4 => banana

#### Using While loop

In [23]:
index =0 
while index <len(my_list):
    print(my_list[index])
    index+=1

1
2
3
apple
banana

### List Operations

#### Adding and Removing Elements

In [ ]:
my_list = [ 1,2,3,'apple', 'banana']
# my_list.append(4)
# my_list.insert(3,5)
# my_list.remove(2) # deletes first occurrence of an element  
my_list.pop(0)
my_list
del my_list

#### List Modification

In [55]:
my_list = [ 1,2,3,'apple', 'banana']

my_list[0]=5
my_list

[5, 2, 3, 'apple', 'banana']

In [61]:
if 'mango' in my_list:
    print("Yes")
else:
    print("Apple no no ")

Apple no no

#### Copying a list

In [64]:
new_list = my_list.copy()
new_list,my_list

([5, 2, 3, 'apple', 'banana'], [5, 2, 3, 'apple', 'banana'])

#### Joining of two lists

In [ ]:
lst1 =[1,2,3,4]
lst2= [5,6,7]
lst1+lst2

[1, 2, 3, 4, 5, 6, 7]

#### List Slices
  list_name [start-included:stops-excluded:steps-optional]

In [1]:
my_list = [i for i in range(10)]

In [14]:
sub_list = my_list[-5:-2]
sub_list

[5, 6, 7]

#### List Mapping 
```python
map(function,iterable)
```

> Doubling a list

In [19]:
lst1 = [1,2,3,4,5]
dub =[]
list
for i in lst1:
    dub.append(i*2)
    
dub

[2, 4, 6, 8, 10]

In [25]:
dub=list(map(lambda x:2*x,lst1))
dub

(2, 4, 6, 8, 10)

> Convert to upper

In [29]:
fruits = ['apple','banana','carrot']

upper_fruits=list(map(str.upper,fruits))
upper_fruits

['APPLE', 'BANANA', 'CARROT']

> Handling Multiple lists using map:
 adding corresponding elements

In [33]:
lst1=[1,5,9]
lst2=[7,6,4]

lst3 = list(map(int.__add__,lst1,lst2))
lst3

[8, 11, 13]

#### List and Strings

##### Similarities 
1. Both are sequences 
2. Both can be sliced 
3. Both can be used in ```len()```

In [ ]:
s="Computer"
l=[1,2,3,4.0,"BCA"]

##### Differences 
1. Heterogenous Elements in list and characters only in String 
2. Different Methods
3. Lists are mutable strings are not

### Dictionary

In [ ]:
#Declaration
d={'apple': 3, 'banana':5}

#### Dictionary as a set of counters

In [19]:
d= {}
l=['a','b','a','c','a','b','a','c']
for i in l :
    if i in d: 
        d[i]+=1
    else:
        d[i]=1
print(d)

{'a': 4, 'b': 2, 'c': 2, 1: 1}

H/W : s= sentence 
        get count of word

In [22]:
s="Water is good and water is nice"
l= s.lower().split(" ")
d= {}
for i in l :
    if i in d: 
        d[i]+=1
    else:
        d[i]=1
print(d)

{'water': 2, 'is': 2, 'good': 1, 'and': 1, 'nice': 1}

#### Loops in Dictionary

In [45]:
stu={'name':'Alex','age':18,'grade':"Sem-6th"}

for key in stu:
    print(key)

name
age
grade

In [29]:
for value in stu.values():
    print(value,end=" | ")

Alex | 18 | Sem-6th |

In [35]:
for key,value in stu.items():
    print(key,"=> ",value)

name =>  Alex
age =>  18
grade =>  Sem-6th

#### Modifying dictionary

In [46]:
stu['age']=20
print(stu)

{'name': 'Alex', 'age': 20, 'grade': 'Sem-6th'}

In [ ]:
marks={'M':75,'C':85,'H':71}

for i in marks:
    marks[i]+=5
print(marks)

{'M': 80, 'C': 90, 'H': 6}

In [ ]:
#Checking for key 

if 'B' in marks:
    print("Present")
else:
    print("Absent")

B is absent

In [59]:
#items count in a dictionary
len(marks)

3

#### Reverse Look up

In [ ]:
def reverseLookUp(d , v ):
   return x if (x:=[k for k in d if d[k]==v]) else None

stu={'a':90,'b':80,'c':90}
print(reverseLookUp(stu,90))

['a', 'c']
water

#### DIctionary and List

dict={} 
list=[]

keys 
index 

mutable 
mutable 

no duplication in keys but values are possible
can have duplicates 

both are sequences 

both are can be Nested

both can be passed to  ```len()```

### Tuple

init : {}

##### Tuple 
1. Immutable 
2. Indexed

#### Tuple assignment

In [41]:
#Swapping values of two variables using tuple assignment 
(a,b)=[10,20]
print(a,b)
(a,b)= (b,a)
print(a,b)

10 20
20 10

In [52]:
x,_,z=(10,20,30)
x,_,z

(10, 20, 30)

In [61]:
x,*y,z = (i for i in range(10))

x,y,z

(0, [1, 2, 3, 4, 5, 6, 7, 8], 9)